.calendar {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.header-cell,
.calendar-cell {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
}

.header-cell {
  background-color: #e6e6e6;
  color: #333;
}

.calendar-cell:hover {
  background-color: #c7c7c7;
  cursor: pointer;
}

.week-row {
  display: flex;
}

.week-cell {
  flex: 1;
}
.b1{
  margin-left: 300px;
}
.b2{
  margin-left: 600px
}
.s1{
  margin-left: 450px;
}
