
.calendar-table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 0px;
  margin-right:50px
}

.header-cell,
.calendar-cell {
  padding: 30px;
  text-align: center;
  border: 1px solid #ddd;
}

.header-cell {
  background-color: #f2f2f2;
}

.calendar-cell:hover {
  background-color: #e6e6e6;
  cursor: pointer;
  scale:1.5;
  transition: all 0.5s ease-in-out;
  border: 2px solid white;
  border-radius: 20px;
}
.b1{
  margin-left:370px;
  background-color: white;
  border: none;
}
.b2{
  background-color: white;
  border: none;
}